---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Letizia Chianello
  </div>
  <div class="inline opacity-20 hover:opacity-70 transition-opacity text-xs">
    Developed by <a href="https://flowin.space" target="_blank" class="font-bold">Diego Turtulici</a> using
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template</a>
  </div>
</footer>
<style></style>
