---
import { getImage } from "astro:assets";

import slide01 from "../pages/home/01-Sicilia_Monti_Nebrodi_Bosco_Faggetta_funghi_rosa_micelio_legno_nature_mushroom_photography_macro_olympus_omsystem_om1_40mm_12_40_mm_pro.jpg";
import slide02 from "../pages/home/02-Sicilia_mare_sea_nude_Tirreno_scogli_schizzi_beach_onde_bambino_olympus_omsystem_om1_40mm_12_40_mm_pro.JPG";
import slide03 from "../pages/home/03-Sicilia_Monti_Nebrodi_educazione_natura_montessori_steiner_raccolta_origano_origan_portrait_mountain_fiori_ritratto_flowers_oros_ganos_olympus_omsystem_om1_40mm_12_40_mm_pro.JPG";
import slide04 from "../pages/home/04-Sicilia_Monti_Nebrodi_educazione_natura_montessori_steiner_bambini_children_pampa_avventure_liberta_freedom_mountain_olympus_omsystem_om1_12_100_mm_pro.JPG";

const optimizedSlide01 = await getImage({src: slide01})
const optimizedSlide02 = await getImage({src: slide02})
const optimizedSlide03 = await getImage({src: slide03})
const optimizedSlide04 = await getImage({src: slide04})
---

<div id="hero-section">
    <div class="image active" style={`background-image: url(${optimizedSlide01.src});`}></div>
    <div class="image" style={`background-image: url(${optimizedSlide02.src});`}></div>
    <div class="image" style={`background-image: url(${optimizedSlide03.src});`}></div>
    <div class="image" style={`background-image: url(${optimizedSlide04.src});`}></div>
</div>

<script>
  const images = document.querySelectorAll("#hero-section>div.image");
  const duration = 4000;
  
  var animating = true;
  var currentIndex = 1;
  let newIndex;
  
  function setBackground(number) {
    images.forEach((image, index) => {
        image.classList.toggle("active", index === number);
    });

    // var hero = document.getElementById("hero-section");
    // OLD with slider, use class full-width
    // if(hero) {
    //   hero.style = `transform: translateX(${-number * 100}%)`;
    // }
  }
  
  function changeBackgroundImage() {
    if(animating) {
      setBackground(currentIndex);
      currentIndex = (currentIndex + 1) % images?.length;
    }
  }
  
  if(document.getElementById("prev") !== null) {
    document.getElementById("prev").addEventListener("click", () => {
      animating = false;
      newIndex = currentIndex > 0 ? (currentIndex - 1) : images.length - 1;
      setBackground(newIndex);
      currentIndex = newIndex;
    });
  }
  
  if(document.getElementById("prev") !== null) {
    document.getElementById("next").addEventListener("click", () => {
      animating = false;
      newIndex = currentIndex < images.length - 1 ? (currentIndex + 1) : 0;
      setBackground(newIndex);
      currentIndex = newIndex;
    });
  }

  // Timeout for slideshow
  setInterval(changeBackgroundImage, duration);
  // Initial background image
//   setBackground(0);
//   setTimeout(changeBackgroundImage, duration);
</script>
